* {
  color: $primary-text-color;
  font-family: $primary-font;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.project {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    height: 200px;
    width: 300px;
    border: solid 1px lime;
    align-items: center;
    justify-content: center;
    background-color: $secondary-background-color;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.experience {
  display: flex;
  flex-direction: row;
  align-items: left;
}
